.ant-pro-layout .ant-pro-sider-logo {
    justify-content: center;
}

.ant-tabs-tabpane {
    padding-left: 0!important;
}

.pageLayoutSider>.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.pageLayoutSider .ant-menu-item {
    display: flex;
    align-items: center;
}

.dashboardDropdown .ant-dropdown-menu-item {
    padding: 0!important;
}

.updatePassword .ant-form-item-explain-error {
    margin-left: 100px;
}

.chatDrawerContainer .ant-drawer-content-wrapper {
    width: auto!important;
}

.chatDrawerContainer .ant-drawer-body {
    width: 508px;
    display: flex;
    justify-content: center;
}

.agentListTabs {
    height: 100%;
}

.agentListTabs .ant-tabs-content-holder {
    overflow: auto;
    padding-bottom: 80px;
}

.agentActionWrapper {
    position: relative;
    padding: 0 2px;
}

.agentActionWrapper:before {
    width: 100%;
    height: 100%;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-header {
  padding: 16px 24px !important;
  background: #f5f5f5 !important;
  margin-bottom: 0 !important;
}

.ant-modal-body, .ant-modal-footer {
  padding: 20px 24px !important;
}

.ant-typography-expand {
    color: #2a82e4!important;
}

.ant-typography-collapse {
    color: #2a82e4!important;
}

.preview-source-modal .ant-modal-body {
    padding: 0!important;
}