@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.agentResult div,
.agentResult p,
.agentResult img,
.agentResult ul,
.agentResult li,
.agentResult ol,
.agentResult h1,
.agentResult h2,
.agentResult h3,
.agentResult h4,
.agentResult h5,
.agentResult table,
.agentResult dl,
.agentResult address,
.agentResult article,
.agentResult aside,
.agentResult footer,
.agentResult header,
.agentResult main,
.agentResult nav,
.agentResult section,
.agentResult video {
  max-width: 100%;
}
.agentResult p:first-child {
    margin-top: 0;
}
