server:
  servlet:
    context-path: /liteAgent
  port: 8080
spring:
  application:
    name: liteAgent
  profiles:
    active: local
  mail:
    host: xxxx
    username: xxxx
    password: xxxx
    port: 465
    default-encoding: utf-8
    properties:
      mail:
        smtp:
          ssl:
            enable: true
  main:
    allow-circular-references: true
  ai:
    model:
      chat: none
      audio:
        speech: none
        transcription: none
      embedding: none
      image: none
      moderation: none
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

mongo-plus:
  configuration:
    field:
      camel-to-underline: true
      ignoring-null: false
    auto-create-index: true
    logic:
      open: true
    banner: false
    auto-convert-object-id: false
  log: true
  pretty: true

llm:
  # 大模型请求超时时间(单位:秒)
  timeout: 300

dolphin:
  base-url: https://example.com:8082
  token: xxxxx
  poll-interval: 3s
  poll-timeout: 5m
  download-timeout: 2m
  request-timeout: 60s
